!.gitignore

/autom4te.cache/

Makefile.in
Makefile

/aclocal.m4

CUnit.spec
CUnit/Headers/CUnit.h
Jamrules
config.h
config.status
cunit.pc
doc/headers/Automated.h
doc/headers/Basic.h
doc/headers/CUCurses.h
doc/headers/CUError.h
doc/headers/CUnit.h
doc/headers/CUnit_intl.h
doc/headers/Console.h
doc/headers/MyMem.h
doc/headers/TestDB.h
doc/headers/TestRun.h
doc/headers/Util.h
doc/headers/Win.h
libtool
stamp-h1

/INSTALL
/config.guess
/config.h.in
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/missing

config.log
